<h1>Account: <%= @account.name %></h1>

<h3>Projects</h3>

<ul>
  <% @account.projects.each do |project| %>
    <li><%= link_to project.name, [@account, project] %></li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "Edit", [:edit, @account] %></li>
  <li><%= link_to "Delete", @account, method: :delete %></li>
</ul>

<%= link_to "New Project", [:new, @account, :project] %>
<%= link_to "Back to Accounts", accounts_path %>
